%div.hero-unit
  %h1 CRM on Rails
  %p Aplicación para la gestión de clientes y contactos hecha con ruby on rails, html, css y jQuery
  %p
    = link_to("Acceder", login_url, :class => "btn primary large")
