.well
  %h5 Menu lateral
  %p
    = link_to "Nueva empresa", new_company_url, :class => "btn info"
  %p  
    = link_to "Nueva persona", new_person_url, :class => "btn info"    
  %p  
    = link_to "Nueva tarea", new_task_url, :class => "btn info"
